{% extends 'mailapp/base.html' %}

{% block content %}

<div class="mb-3">
    <a href="{% url 'mailapp:client_create' %}" class="w-100 btn btn-lg btn-outline-primary">Добавить клиента</a>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for object in object_list %}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">

                <ul class="list-unstyled mt-3 mb-4">
                    <li>Email: {{ object.email }}</li>
                    <li>Комментарий: {{ object.comment }}</li>

                </ul>
                {% if perms.mailapp.can_delete_client and perms.mailapp.can_view_client or user == letter.owner %}
                <a href="{% url 'mailapp:client_update'  object.pk %}" type="button"
                   class="w-100 btn btn-lg btn-outline-primary">Редактировать</a>
                {% endif %}

            </div>
            <div class="card-footer">
                <a href="{% url 'mailapp:client_delete'  object.pk %}" type="button"
                   class="w-100 btn btn-lg btn-outline-primary">Удалить</a>
            </div>

        </div>
    </div>

    {% endfor%}
</div>
{% endblock %}