{% extends 'mailapp/base.html'%}
{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">Клиент:
                    <ul> {% for value in object.client.all.values_list %}
                    <li> {{value.1}} </li> {% endfor %} </ul> </p>
                    <p class="card-text">Сообщение: <ul> {{object.message}} </ul> </p>
                    <p class="card-text">Дата и время первой отправки рассылки: <ul> {{object.date_and_time}} </ul> </p>
                    <p class="card-text">Периодичность: <ul> {{ object.frequency }} </ul> </p>
                    <p class="card-text">Статус рассылки: <ul> {{ object.status }} </ul> </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{% url 'mailapp:letter_list'%}"
                               role="button">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}